@import url(http://fonts.googleapis.com/css?family=Raleway:500,700,400,300,200);
body {
  margin: 0;
  background-color: #424242;
  color: #ddd;
  font-family: Raleway, Helvetica neue, sans-serif;
}
* {
  box-sizing: border-box;
}
div#hero-wrapper {
  position: relative;
  height: 600px;
}
@media screen and (max-width: 767px) {
  div#hero-wrapper {
    height: 400px;
  }
}
div#hero {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
div#hero video#banner {
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 0;
  object-fit: cover;
}
@media screen and (max-width: 1080px) {
  div#hero video#banner {
    height: 100%;
    width: auto;
  }
}
.text-center {
  text-align: center;
}
div#header {
  position: relative;
  height: 550px;
  width: 100%;
  top: 50px;
  text-shadow: 0px 1px 2px #333;
}
@media screen and (max-width: 767px) {
  div#header {
    height: 350px;
  }
}
div#header div#tagline {
  font-size: 14pt;
  font-weight: 300;
}
div#header div#tagline,
div#header h1 {
  margin-bottom: 40px;
}
div#header h1 {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 62pt;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  div#header h1 {
    font-size: 40pt;
    margin-bottom: 20px;
  }
}
div#header div.people div.person {
  width: 33%;
  float: left;
  text-align: center;
}
div#header div.people div.person img.face {
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 767px) {
  div#header div.people div.person img.face {
    width: 40px;
    height: 40px;
  }
}
.head-content {
  max-width: 1400px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
img.round {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.va-container {
  display: table;
  width: 100%;
  height: 100%;
}
.va-middle {
  vertical-align: middle;
  display: table-cell;
}
div#content {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  position: relative;
}
div#article {
  width: 35%;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 20px;
  font-size: 12pt;
  z-index: 300;
}
div#map {
  z-index: 3;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 760px;
  height: 1160px;
}
section {
  height: 1160px;
  color: #fff;
  text-shadow: 0px 1px 2px #333;
  font-weight: 500;
}
svg {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  /* or */
}
.container {
  position: relative;
}
.container svg,
.container canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}
.subunit-boundary.neighbour {
  stroke-dasharray: 0.1,0.1;
}
.subunit-label {
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}
.place,
.place-label {
  fill: #fff;
}
text {
  font-size: 11px;
  pointer-events: none;
}
.trip {
  stroke: rgba(20, 20, 20, 0.2);
  stroke-width: 2px;
}
.sourceCanvas {
  opacity: 0;
}
