body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.political-layer, .water-layer {
  // opacity: 0.1
}


svg {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
    /* or */
}


.container {
  position: relative;
  svg, canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.subunit {

  fill: white;
  &.GAZ {
    fill: #ddc;
  }
  &.ISR {
    fill: #cdd;
  }
  &.WEB {
    fill: #ddc;
  }

}


.river {
  fill: none;
  stroke: skyblue;
  stroke-opacity: 0.5;
}

.water-feature {
  fill-opacity: 0.5;
  fill: skyblue;

}


rect.sea {
  fill: skyblue ;
}

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;

  &.neighbour {
    stroke-dasharray: 0.1,0.1;
  }

}

.subunit-label {
  fill: #777;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}

.place,
.place-label {
  fill: #444;
}

text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  pointer-events: none;
}

.trip {
  stroke: rgba(20,20,20, 0.2);
  stroke-width: 2px;
}

.sourceCanvas {
  opacity: 0;
}
